.broker-contact {
    color: $main-color;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__photo {
        max-height: 250px;
    }

    &__name {
        margin-bottom: 3rem;
        font-weight: bold;
    }

    &__phone {
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-weight: bold;
        padding-bottom: .6rem;
    }

    &__contact-link {
        padding: .8rem 1.5rem;
    }

    &_photo, &__information {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 576px) {
    .broker-contact {
        &__photo {
            max-height: 150px;
        }

        &__name {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        &__mail, &__phone {
            font-size: .7rem;
        }
    
        &__phone {
            margin-bottom: 1.5rem;
        }
    
        &__subtitle {
            font-weight: bold;
            font-size: .7rem;
            padding-bottom: .3rem;
        }
    
        &__contact-link {
            padding: .8rem;
            font-size: .8rem;
        }
    
        &__information {
            display: table;
            height: 100%;
            width: 100%;
        }
    }
}