.main-link-style {
    display: inline-block;
    font-weight: bold;
    color: $secondary-color;
    background-color: $main-color;
    padding: .5rem 1rem;

    &:hover {
        text-decoration: none;
        color: $secondary-color;
    }
}

.center-div {
    text-align: center;
    padding: 1.5rem;
}

.align-right {
    text-align: right;
}

.align-top {
    display: table-cell;
    vertical-align: top;
    float: none;
}

.no-left-padding {
    padding-left: 0;
}

.vertical-align {
    display: table;
}

.relative {
    position: relative;
}

@media screen and (max-width: 576px) {
    .mobile-centered {
        text-align: center;
    }
}